{% extends 'layout.html' %}

{% block title %}France By Numbers{% endblock title %}

{% block body %}
<div class="container">
  <div class="clearfix mt2 mb2">
    <div class="col sm-col-2"><p></p></div>
    <div class="col sm-col-4 col-12 pr2 border-right">
      <h1 class="lh1 align-right">France by Numbers</h1>
    </div>
    <div class="col sm-col-6 col-12 pl2 border-left xs-hide">
      <h1 class="lh1">La France par les Chiffres</h1>
    </div>
    <div class="col col-12 mt2">
      <p class="center">A personal data exploration<br class="lg-hide"> by <a href="http://sophiestadler.com" class="border-bottom">Sophie Stadler</a>.</p>
    </div>
  </div>

  <div class="flex flex-wrap">
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">6:47</h1><p class="m0 lh1 red">Hours asleep per night</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">{{ metro_average|round(2) }}</h1><p class="m0 lh1 red">Metro rides per day</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">283</h1><p class="m0 lh1 red">Photos taken</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1 hover" data-hover="{{ temperatureC_average|round|int }}&#176;C">{{ temperatureF_average|round|int }}&#176;F</h1><p class="m0 lh1 red">Average temperature</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">{{ sunny_days|round|int }}%</h1><p class="m0 lh1 red">Sunny days</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">7</h1><p class="m0 lh1 red">Facebook group chats</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">{{ coffees|round(1) }}</h1><p class="m0 lh1 red">Coffees per day</p>
    </div>
    <div class="col sm-col-3 col-6 mb2">
      <h1 class="m0 lh1">{{ report }}</h1><p class="m0 lh1 red">Total reports</p>
    </div>
<!--     <div class="col col-3 mb2">
      <h1 class="m0 lh1">3</h1><p class="m0 lh1 red">Ubers called</p>
    </div> -->
  </div>
</div>

<div class="mt2 mb2">
  <img srcset="{{ url_for('static', filename='img/panorama/large.jpg') }} 1280w,
                {{ url_for('static', filename='img/panorama/medium.jpg') }} 640w,
                {{ url_for('static', filename='img/panorama/small.jpg') }} 320w"
        sizes="100vw"
        src="{{ url_for('static', filename='img/panorama/large.jpg') }}"
        alt="Parisian apartment panoramic view" />
    
  <div class="container">
    <div class="clearfix">
      <div class="col col-12">
        <p>View from my room in Saint-Mand&eacute; • 7 June 2015</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="clearfix mt2 mb2">
    <div class="col col-12">
      <p class="bold mb1">What are you doing?<a href="/france/about#bias">*</a></p>
      <p>
        {% for activity, quantity in activity_dict|dictsort(false, 'value')|reverse %}
          {{ activity }} (<span class="red">{{ quantity }}</span>){% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
  </div>

  <div class="clearfix">
    <div class="col sm-col-6 col-12">
      <p class="bold mb1">Are you working?</p>
      {% pie_chart working_chart %}
    </div>
    <div class="col sm-col-6 col-12">
      <p class="bold mb1">What are you listening to?<a href="/france/about#bias">*</a></p>
      {% bar_chart list_of_ten %}
    </div>
  </div>

  <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sophstad.16ca1003/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic29waHN0YWQiLCJhIjoiOTc1YTY0MjZkMThiY2VlNGUxMzU1OGIwM2FiYzRhNTgifQ.W5NL4LnIO0_ZRcSIKOkXDA'></iframe>

  <div class="clearfix">
    <div class="col col-12 mt2">
      <p class="bold mb1">Types of places I visited, according to Foursquare</p>
      <p>
        
          Café (<span class="red">8</span>),
        
          College Academic Building (<span class="red">7</span>),
        
          Coffee Shop (<span class="red">2</span>),
        
          Club House (<span class="red">1</span>),
        
          Train Station (<span class="red">1</span>),
        
          Bistro (<span class="red">1</span>),
        
          Garden (<span class="red">1</span>),
        
          Supermarket (<span class="red">1</span>),
        
          Metro Station (<span class="red">1</span>),
        
          Tech Startup (<span class="red">1</span>),
        
          City (<span class="red">1</span>),
        
          Bar (<span class="red">1</span>),
        
          Hardware Store (<span class="red">1</span>),
        
          Zoo (<span class="red">1</span>),
        
          Cultural Center (<span class="red">1</span>),
        
          Botanical Garden (<span class="red">1</span>),
        
          Falafel Restaurant (<span class="red">1</span>),
        
          Coworking Space (<span class="red">1</span>),
        
          Department Store (<span class="red">1</span>),
        
          Art Museum (<span class="red">1</span>),
        
          Furniture / Home Store (<span class="red">1</span>),
        
          Boat or Ferry (<span class="red">1</span>),
        
          Hospital (<span class="red">1</span>),
        
          Emergency Room (<span class="red">1</span>)
        
      </p>
    </div>

    <div class="col col-12 mt2">
      <p class="bold mb1">Honorable Mentions</p>
      <p>
        {% for place, url in honorable_mentions.items() %}
          <a href="{{ url }}" class="border-bottom">{{ place }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock body %}