<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chartkick.js') }}"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,500,500italic' rel='stylesheet' type='text/css'>
  </head>
  {% endblock %}

  <body>

    {% block body %}{% endblock %}

  </body>
  
  <footer class="mt2 mb2">
    <div class="container">
      <p>&#169; <a href="https://sophiestadler.com" class="border-bottom">Sophie Stadler</a> • <a href="/france/about" class="border-bottom">About</a></p>
    </div>
  </footer>
</html>