body {
  background-color: rgb(26, 181, 181);
  color: rgb(14, 78, 78);
  font-family: 'Input Sans Narrow', 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
}
h1 {
  color: rgb(17, 97, 97);
  font-size: 4rem;
  font-weight: 900;
}
p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 58em;
}

/* Immutable CSS Classes */
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 400;
}
.lh1 {
  line-height: 1;
}
.m0 {
  margin: 0;
}
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }

/* Columns */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.col {
  float: left;
  box-sizing: border-box;
}
.col-4 { width: 33.333333%; }
.col-6 { width: 50%; }
.col-12 { width: 100%; }