@custom-media --breakpoint-sm (min-width: 40em);

body {
  background-color: #222;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  margin: 0;
}
img { max-width: 100%; }
h1 {
  font-size: 4rem;
  font-weight: 700;
}
p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #fff;
  /*border-bottom: 1px solid #fb8171;*/
  text-decoration: none;
}

a:hover {
  color: #fb8171;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

/* Temperature hover states */
.hover:hover {
  font-size: 0;
}

.hover:hover:before {
  content: attr(data-hover);
  font-size: 4rem;
}

/* Immutable CSS Classes */
.bold {
  font-weight: 500;
}
.lh1 {
  line-height: 1;
}

.m0 { margin: 0; }

.mt2 { margin-top: 2rem; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }

.border-right {
  border-right-style: solid;
  border-right-width: 0.125rem;
  border-right-color: #fb8171;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: .125rem;
  border-bottom-color: #fb8171;
}
.border-left {
  border-left-style: solid;
  border-left-width: 0.125rem;
  border-left-color: #fb8171;
}

.pr2 { padding-right: 2rem; }
.pl2 { padding-left: 2rem; }

.center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.red {
  color: #fb8171;
}

.flex { display: flex; }
.flex-wrap    { flex-wrap: wrap; }

/* Columns */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: calc(1/12 * 100%);
}

.col-2 {
  width: calc(2/12 * 100%);
}

.col-3 {
  width: calc(3/12 * 100%);
}

.col-4 {
  width: calc(4/12 * 100%);
}

.col-5 {
  width: calc(5/12 * 100%);
}

.col-6 {
  width: calc(6/12 * 100%);
}

.col-7 {
  width: calc(7/12 * 100%);
}

.col-8 {
  width: calc(8/12 * 100%);
}

.col-9 {
  width: calc(9/12 * 100%);
}

.col-10 {
  width: calc(10/12 * 100%);
}

.col-11 {
  width: calc(11/12 * 100%);
}

.col-12 {
  width: 100%;
}

@media (min-width: 40em) {
  .container {
    max-width: 58rem;
  }

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: calc(1/12 * 100%);
  }

  .sm-col-2 {
    width: calc(2/12 * 100%);
  }

  .sm-col-3 {
    width: calc(3/12 * 100%);
  }

  .sm-col-4 {
    width: calc(4/12 * 100%);
  }

  .sm-col-5 {
    width: calc(5/12 * 100%);
  }

  .sm-col-6 {
    width: calc(6/12 * 100%);
  }

  .sm-col-7 {
    width: calc(7/12 * 100%);
  }

  .sm-col-8 {
    width: calc(8/12 * 100%);
  }

  .sm-col-9 {
    width: calc(9/12 * 100%);
  }

  .sm-col-10 {
    width: calc(10/12 * 100%);
  }

  .sm-col-11 {
    width: calc(11/12 * 100%);
  }

  .sm-col-12 {
    width: 100%;
  }

}